<style>
.w3-container,
  .w3-panel {
    padding: 0.01em 16px;
  }
  .w3-panel {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .w3-green,
  .w3-hover-green:hover {
    color: #fff !important;
    background-color: #4caf50 !important;
  }
  .w3-red,
  .w3-hover-red:hover {
    color: #fff !important;
    background-color: #f44336 !important;
  }
  .w3-yellow,
  .w3-hover-yellow:hover {
    color: #000 !important;
    background-color: #ffeb3b !important;
  }
  .w3-center {
    text-align: center !important;
  }
body {
  background-image: url('assets.prod.novaquark.com/58139/a0a98231-07bc-4577-bbc6-2f6b361cc4e1.jpg');
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center top;
  background-size: 300px ;
}
</style>
<div class="bootstrap">
<h1 style="
	font-size: 4em;
">Hadez Coperation</h1>
<table style="
	margin-left: 2%;
	width: 90%;
	font-size: 2em;">
<thead>
	<tr style="background-color: red;">

		<th style='width:20%; margin-left: 10px;'>Ore</th>
		<th style='width:20%'>Qty</th>
		<th style='width:20%'>Levels</th>
		<th style='width:20%'>Status</th>
		<th style='width:20%'>Available</th>
</thead>
</tr>
<tr><td>1</td><td>0</td><td>0</td><td>499200</td><td><div style='height: 35px; width:100%'><div class='w3-container w3-red w3-center' style='height: 20px; padding: 2px; width: 0%; color: white '>0</div></div></td></tr><tr><td>2</td><td>0</td><td>0</td><td>332800</td><td><div style='height: 35px; width:100%'><div class='w3-container w3-red w3-center' style='height: 20px; padding: 2px; width: 0%; color: white '>0</div></div></td></tr><tr><td>3</td><td>44230</td><td>16321</td><td>-12993</td><td><div style='height: 35px; width:100%'><div class='w3-container w3-green w3-center' style='height: 20px; padding: 2px; width: 490%; color: white '>490</div></div></td></tr><tr><td>4</td><td>0</td><td>0</td><td>332800</td><td><div style='height: 35px; width:100%'><div class='w3-container w3-red w3-center' style='height: 20px; padding: 2px; width: 0%; color: white '>0</div></div></td></tr><tr><td>1</td><td>0</td><td>0</td><td>499200</td><td><div style='height: 35px; width:100%'><div class='w3-container w3-red w3-center' style='height: 20px; padding: 2px; width: 0%; color: white '>0</div></div></td></tr><tr><td>2</td><td>0</td><td>0</td><td>332800</td><td><div style='height: 35px; width:100%'><div class='w3-container w3-red w3-center' style='height: 20px; padding: 2px; width: 0%; color: white '>0</div></div></td></tr><tr><td>3</td><td>0</td><td>0</td><td>332800</td><td><div style='height: 35px; width:100%'><div class='w3-container w3-red w3-center' style='height: 20px; padding: 2px; width: 0%; color: white '>0</div></div></td></tr><tr><td>4</td><td>0</td><td>0</td><td>332800</td><td><div style='height: 35px; width:100%'><div class='w3-container w3-red w3-center' style='height: 20px; padding: 2px; width: 0%; color: white '>0</div></div></td></tr><tr><td>1</td><td>43</td><td>9</td><td>499191</td><td><div style='height: 35px; width:100%'><div class='w3-container w3-red w3-center' style='height: 20px; padding: 2px; width: 0%; color: white '>0</div></div></td></tr><tr><td>2</td><td>116</td><td>86</td><td>332714</td><td><div style='height: 35px; width:100%'><div class='w3-container w3-red w3-center' style='height: 20px; padding: 2px; width: 0%; color: white '>0</div></div></td></tr><tr><td>3</td><td>50</td><td>39</td><td>332761</td><td><div style='height: 35px; width:100%'><div class='w3-container w3-red w3-center' style='height: 20px; padding: 2px; width: 0%; color: white '>0</div></div></td></tr><tr><td>4</td><td>131928</td><td>49784</td><td>283016</td><td><div style='height: 35px; width:100%'><div class='w3-container w3-yellow w3-center' style='height: 20px; padding: 2px; width: 15%; color: black '>15</div></div></td></tr></table>
</div>

