<style>
  .w3-container,
  .w3-panel {
    padding: 0.01em 16px;
  }
  .w3-panel {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .w3-green,
  .w3-hover-green:hover {
    color: #fff !important;
    background-color: #4caf50 !important;
  }
  .w3-red,
  .w3-hover-red:hover {
    color: #fff !important;
    background-color: #f44336 !important;
  }
  .w3-yellow,
  .w3-hover-yellow:hover {
    color: #000 !important;
    background-color: #ffeb3b !important;
  }
  .w3-center {
    text-align: center !important;
  }

  body {
    background-image: url("assets.prod.novaquark.com/58139/a0a98231-07bc-4577-bbc6-2f6b361cc4e1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: 300px;
  }
</style>
<div class="bootstrap">
  <h1 style="font-size: 4em">Hadez Coperation</h1>
  <table
    style="
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      font-size: 2em;
    "
  >
    <thead>
      <tr
        style="
          width: 100%;
          margin-bottom: 30px;
          background-color: red;
          color: white;
        "
      >
        <th style="width: 20%">Ore</th>
        <th style="width: 20%">Qty</th>
        <th style="width: 20%">Levels</th>
        <th style="width: 20%">Status</th>
        <th style="width: 20%">Available</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Natron</td>
        <td>0</td>
        <td>0</td>
        <td>499200</td>
        <td>
          <div
            class="w3-container w3-red w3-center"
            style="height: 30px; width: 0%; color: white"
          >
            0
          </div>
        </td>
      </tr>
      <tr>
        <td>Malachite</td>
        <td>0</td>
        <td>0</td>
        <td>332800</td>
        <td>
          <div
            class="w3-container w3-red w3-center"
            style="height: 30px; width: 0%; color: white"
          >
            0
          </div>
        </td>
      </tr>
      <tr>
        <td>Limestone</td>
        <td>44230</td>
        <td>16321</td>
        <td>316479</td>
        <td>
          <div
            class="w3-container w3-red w3-center"
            style="height: 30px; width: 5%; color: white"
          >
            5
          </div>
        </td>
      </tr>
      <tr>
        <td>Chromite</td>
        <td>0</td>
        <td>0</td>
        <td>332800</td>
        <td>
          <div
            class="w3-container w3-red w3-center"
            style="height: 30px; width: 0%; color: white"
          >
            0
          </div>
        </td>
      </tr>
      <tr>
        <td>Hematite</td>
        <td>1467071</td>
        <td>291086</td>
        <td>208114</td>
        <td>
          <div
            class="w3-container w3-green w3-center"
            style="height: 30px; width: 58%; color: white"
          >
            58
          </div>
        </td>
      </tr>
      <tr>
        <td>Coal</td>
        <td>2</td>
        <td>1</td>
        <td>332799</td>
        <td>
          <div
            class="w3-container w3-red w3-center"
            style="height: 30px; width: 0%; color: white"
          >
            0
          </div>
        </td>
      </tr>
      <tr>
        <td>Bauxite</td>
        <td>31</td>
        <td>24</td>
        <td>332776</td>
        <td>
          <div
            class="w3-container w3-red w3-center"
            style="height: 30px; width: 0%; color: white"
          >
            0
          </div>
        </td>
      </tr>
      <tr>
        <td>Quartz</td>
        <td>19752</td>
        <td>7454</td>
        <td>325346</td>
        <td>
          <div
            class="w3-container w3-red w3-center"
            style="height: 30px; width: 2%; color: white"
          >
            2
          </div>
        </td>
      </tr>
      <tr>
        <td>Pyrite</td>
        <td>0</td>
        <td>0</td>
        <td>499200</td>
        <td>
          <div
            class="w3-container w3-red w3-center"
            style="height: 30px; width: 0%; color: white"
          >
            0
          </div>
        </td>
      </tr>
      <tr>
        <td>Petalite</td>
        <td>0</td>
        <td>0</td>
        <td>332800</td>
        <td>
          <div
            class="w3-container w3-red w3-center"
            style="height: 30px; width: 0%; color: white"
          >
            0
          </div>
        </td>
      </tr>
      <tr>
        <td>Garnierite</td>
        <td>0</td>
        <td>0</td>
        <td>332800</td>
        <td>
          <div
            class="w3-container w3-red w3-center"
            style="height: 30px; width: 0%; color: white"
          >
            0
          </div>
        </td>
      </tr>
      <tr>
        <td>Acanthite</td>
        <td>0</td>
        <td>0</td>
        <td>332800</td>
        <td>
          <div
            class="w3-container w3-red w3-center"
            style="height: 30px; width: 0%; color: white"
          >
            0
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
